.bell {
  padding: 20px;
  text-align: center;
  border-right: 1px solid;
}

.schooltool {
  background-color: black;
  color: white;
}
.schoolbtn {
  background-color: green;
  width: 150px;
  height: 60px;
  padding: 15px;
  color: white;
  margin: 30px;
  border-radius: 20px;
  text-align: center;
  margin-left: 90vh;
}


.schoolserch{
    border-radius: 20px;
}