.studbg{
background-color: lightgrey;
}

.studeserch{
    border-radius: 10px;
    background-color: white;

}
.imgdemo{
    border-radius: 10rem;
    height: 30rem;
}
.studdata{
    padding: 20px;
    text-align: center;
    border: 1px solid;
    background-color: white;
}
.studbtn{
    background-color: red;
    width: 150px;
    height: 60px;
    padding: 15px;
    color: white;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
   
}
.studimg{
    height: 80%;
    border-radius: 35%;
}